{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>
    <script src="index.js"></script>

<nav>

	<ul>
	   <li><a href="https://emersonerb.pythonanywhere.com/blackbox">Black Box Investigation</a></li>

	    <li><a href="https://emersonerb.pythonanywhere.com/screenprint">Screenprinting Investigation</a></li>

	</ul>



</nav>


<h1>Screenprinting project</h1>


<p>The focus of New Media and Tech for Social Change during unit two was screen printing. Students were instructed to develop a personalized design that they designed by themselves and use screenprinting to print their design onto a cardboard box as well as multiple other mediums. Aswell as printing on a cloth piece to combine all the students designs onto one large canvas of screen-prints.</p>

<h2>Inspiration</h2>

<p>I started our screen printing process by researching old screen-printed artwork. I found inspiration in old black panther posters from 1966. I was inspired by the monotone fists on their poster to do something similar. So I decided to make design my hand doing some gesture. I finally pinpointed my design as being a thumbs up. My target audience for my artwork is people who feel down currently and need to know that everything is good.
</p>

<img class="focus" src="{% static 'core/black_panther.png' %}" alt="This is a photo of one of my inspirations for my final screenprint" width="150">


<h3>Computer Design and Photoshop</h3>

<p>I decided on my hand to do a thumbs-up and extend my thumb around the screen-printed box. When I decided on my idea I made concept sketches to show how it would look once it's completed. After our research and concept sketches, I had my partners take photos of my hand that I could use later in Photoshop. Once I got a good photo of my hand I uploaded it to Photoshop. </p>

<img class="focus" src="{% static 'core/Photo by dhruva (2).JPG' %}" alt="This is the photo of my hand that I used for my photoshop editing" width="100">

<p>In Photoshop I made my hand the correct size I wanted for the box I would be using, and then I edited my thumbs up. First I copied one joint of my thumb and added it many times on top of itself to extend my thumb many joints. Then, I used filters in Photoshop to make my thumb 2 colors instead of millions so that it could be printed on two screens more easily. I didn't end up using any brushwork to finish my design because I believed that the outline of my two screens would be good to convey all of the detail I needed. My original plan was to have 2 screens and two different colors to show my thumbs up with more detail.
</p>


<p>Once I had finished my design in Photoshop I scaled it to the correct size to perfectly fit around the entire box. when I found these measurements I realized that I wouldn't have enough time or wood to make 2 different screens, so I decided to cut it down to only one. With the final, proper-sized finger, I made dimensions around our designs so I could have a reference for the size of the wood pieces and vinyl. Next, I uploaded my correct-sized file to Silhouette Studios so it could be cut out of a piece of vinyl to later apply to my screen.
</p>
<img src="{% static 'core/Emerson-blue&black.png' %}" alt="This is a photo of my original photoshop file with my thumbs up in blue and black" height="400">

<img src="{% static 'core/illustrator_ss.png' %}" alt="This is a photo of my Adobe Illustrator file with controls on the side" height="400">

<h3>Making my screens</h3>

<p>Once our dimensions were done I moved to wood. I started by getting a piece of wood and marking a first cut, then I lined the cut up with the saw and cut. I used our first piece as a reference for cutting the others. When I had finished cutting all of our wood I sanded the wood so it was smooth and all the correct length. After that I glued and stapled it together for our later vinyl. Then, I cut out a piece of mesh that was 3 inches bigger on each dimension compared to my wood so I could overlap it. With the wood frame and mesh, I stretched the mesh around and stapled it all together, I slowly added more staples to make the whole mesh tight. Once the mesh was fully tightened I taped the side where there were staples to protect from the sharp staples.
</p>

<img class="focus" src="{% static 'core/sanding.JPG' %}" alt="This is a photo of my sanding one of my wood blocks" width="390">

<p>After all of my mesh was securely attached I aligned my vinyl cutout with the mesh of my frame and ironed it down for about 5 minutes. Having my vinyl fully attached allowed me to start screenprinting my design onto multiple new pieces. Before I was able to screenprint I had to mix my paint that I would push through my screenprint.
</p>

<img class="focus" src="{% static 'core/mixing_paint.JPG' %}" alt="This is a pgoto of me mixing my paint to screenprint with" width="200">

<p>
Once I finished mixing my paint I started printing my design onto pieces of paper to start to understand the proper technique, then I moved to printing on my final cardboard box. It took me many tries to properly line up my design on my box because I was ambitious and wanted to make my design wrap around my box. I eventually lined it up perfectly and was almost done screenprinting, my final screenprint was on a piece of cloth that my classmates helped sew onto a large quilt of everybody's design.
</p>

<div class="row">
  <div class="column">
    <img src="{% static 'core/paper_print.JPG' %}" alt="This is a photo of my screenprint on two pieces of paper" style="width:100%">
  </div>
  <div class="column">
    <img src="{% static 'core/frame.JPG' %}" alt="This is a photo of my frame I used for screen printing" style="width:100%">
  </div>
  <div class="column">
    <img src="{% static 'core/cloth_print.JPG' %}" alt="This is a photo of my screenprint on a piece of cloth." style="width:100%">
  </div>
  <div class="column">
    <img src="{% static 'core/box_hand.JPG' %}" alt="This is a photo of my screenprint on my cardboard box" style="width:100%">
  </div>
</div>


<h2>Reflection</h2>

<p>During the entire screen-printing process, my favorite part was working hands-on to put together my frame to attach my mesh to. My least favorite part was taking photos because I like to just work for a long time straight which is hard to get photos of because I don't like to stop and pose for or set up photos. I was most effective at working with wood because I have had lots of prior experience working with wood and cutting wood beams for other projects which carried over very well to this project. I demonstrated leadership skills by helping my friends stay on task to keep them working efficiently. I helped my classmates on almost every step of the project from using filters to tweaking designs, uploading files to other programs, and most of all putting together frames as well as attaching mesh and printing ink onto their boxes.
</p>

<p>The hardest part of the project for me was working over many days for only a small amount of time. I much prefer to work straight for many hours in a row but this project and our schedule forced me to work in smaller chunks of time. I asked for lots of help during the Photoshop part of this project because I am least confident using programs like Photoshop compared to hands-on tasks like putting together a wooden frame. I will use the skills I learned during this unit like Photoshop knowledge in the future by applying them to other projects and assignments down the line so I can have more engaging photos and images.</p>

<h3>21st Century Skills</h3>

<p>The 21st skill I most improved on was Communication and Collaboration. During this project I tried to help many people with the steps they were struggling with as soon as I was done with my current step. I helped a lot with the mesh and frame making process because that is the part I felt most confident in by myself. I worked to help others with their step and not just do it for them so that they could learn how to do the task for themselves. Also I worked on clearly communicating my ideas with my peers so they could help me when I needed it and so that they could understand what I was trying to tell them so they could work most effectively themselves.</p>


</body>
</html>


